body {
    color: #F8F8F8;
    background-color: #1b3748;
    border-color:#ddd;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h3 {
    text-align: center;
}

video {
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 2;
	height: 100%;
	width: 100%;
}


.chatAreaWrapper {
    border:1px solid #aaa; 
    width:500px; 
    height:300px; 
    overflow:auto;
    background-color: white;
    color: black;
    position: relative;
}

#chatArea {
    bottom: 0px;
    overflow-y: scroll;
    position: absolute;
    max-height: 100%;
    width: 100%;
}