<!doctype html>
<html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h3>Unauthorized! Get a token from <%= nick %></h3>
	<form name="input" action="/login" method="post" >
	 Token: <input type="text" name="mtoken" />
	 <input type="hidden" name="ReturnUrl" value="<%= ReturnUrl %>" >
	 <input type="submit" value="Submit" />
	 </form>
	
	<script type="text/javascript">
		document.forms[0]["ReturnUrl"].value += window.location.hash;
	</script>
</body>

